@font-face {
    font-family: 'Hammerhead';
    src: url("../fonts/HammerheadRegular.ttf");
  }
  
  @font-face {
    font-family: 'Hammerhead_Bold';
    src: url("../fonts/HammerheadBold.ttf");
  }
  
  @font-face {
    font-family: 'Neuropol';
    src: url("../fonts/Neuropol.ttf");
  }
  
  :root {
    margin: 0;
    padding: 0;
  }
  
  body {
    height: 100vh;
  }
  
  html {
    height: 100%;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  
  html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
  }
  
  canvas {
    width: 100%;
    height: 100%;
    display: block;
  }
  
  img {
    opacity: 0.5;
  }
  
  #circle {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid darkorange;
    background: rgba(255, 165, 0, 0.5);
    font-size: 50px;
    font-family: Times New Roman;
    color: orange;
  }
  
  #regCanvas {
    z-index: -20;
  }
  
  a {
    text-decoration: none;
    color: #d8d8da;
    font-size: 90%;
    font-family: "Neuropol";
  }

  form{
    text-align: center;
  }

  .error{
      color: crimson;
      font-weight: 500;
      text-align: center;
  }
  
  #webgl {
    position: absolute;
    z-index: 0;
  }
  
  .regWrapper {
    width: 100%;
    height: 100vh;
    min-width: 950px;
    position: absolute;
    z-index: 10;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    place-items: center;
  }
  
  .login_box {
    min-width: 415px;
    max-width: 570px;
    border: 1px solid #1ce8ff;
    border-radius: 7px;
    -webkit-box-shadow: 0 0 2px #1ce8ff, 0 0 4px #1ce8ff, 0 0 80px #1ce8ff, 0 0 10px #1ce8ff;
            box-shadow: 0 0 2px #1ce8ff, 0 0 4px #1ce8ff, 0 0 80px #1ce8ff, 0 0 10px #1ce8ff;
    display: -ms-grid;
    display: grid;
    background-color: #0d0e30;
  }
  
  .login_header {
    width: 100%;
    height: 90px;
    background-color: inherit;
    text-align: center;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    font-family: "Neuropol", sans-serif;
  }
  
  .login_header h1 {
    margin-top: 35px;
    margin-bottom: 0;
    padding-top: 10px;
    color: #1ce8ff;
    position: relative;
    bottom: 5px;
    font-family: "Neuropol", sans-serif;
    text-shadow: #662d91 0.5px 0.5px 0px;
    font-size: 100%;
    text-align: center;
  }
  
  input[type="submit"], input[type="email"], input[type="password"], input[type="text"] {
    font-family: "Neuropol", sans-serif;
    font-size: 100%;
    width: 100px;
    background-color: #0d0e30;
    border: 1px solid #1ce8ff;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    color: #1ce8ff;
  }
  
  input[type="submit"]:hover {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    color: #0d0e30;
    background-color: #1ce8ff;
    -webkit-box-shadow: 0 0 10px #1ce8ff, 0 0 40px #1ce8ff, 0 0 80px #1ce8ff, 0 0 10px #1ce8ff;
            box-shadow: 0 0 10px #1ce8ff, 0 0 40px #1ce8ff, 0 0 80px #1ce8ff, 0 0 10px #1ce8ff;
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
    border-radius: 5px;
  }
  
  input[type="text"], input[type="email"], input[type="password"] {
    margin: 5px 15% 10px 15%;
    width: 70%;
    height: 35px;
    padding-left: 5px;
    border-radius: 5px;
  }

  
  p, small {
    display: inline-block;
    color: #e5e5e5;
    font-family: 'Neuropol';
    src: url("../fonts/Neuropol.ttf");
    font-size: 65%;
  }
  
  .form-group svg {
    margin-left: 25%;
    margin-top: 20%;
    width: 50%;
  }
  
  small {
    margin-top: 0;
    padding-bottom: 20px;
  }
  
  #validation {
    display: inline-block;
    padding: 30px 5px 50px;
  }
  
 
  input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover {
    border-color: #1ce8ff;
  }
  
  input[type="text"]:active, input[type="email"]:active, input[type="password"]:active {
    border-color: #1ce8ff;
  }
  
  #second {
    display: none;
  }
  /*# sourceMappingURL=register.css.map */