@font-face {
    font-family: 'Hammerhead';
    src: url("../fonts/HammerheadRegular.ttf");
}

@font-face {
    font-family: 'Hammerhead_Bold';
    src: url("../fonts/HammerheadBold.ttf");
}

@font-face {
    font-family: 'Neuropol';
    src: url("../fonts/Neuropol.ttf");
}

*, ::after, ::before {
    box-sizing: initial;
}

html{
    height:100%;
}

body {
    height:100%;
    line-height: 17px;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 0.9rem;
}

.container-fluid{
    margin:0 !important;
    padding:0 !important;
}

a {
    color: #65dbeb;
    text-decoration: none;
    font-weight: bold;
}

hr{
    background: linear-gradient(to right, #662d91, rgba(28, 232, 255, 0.3));
    height:2px;
    border:none;
}


.footer{
    margin-top: 150px !important;
    width:60% !important;
    text-align: center;
    margin-right: 20%;
    border-bottom: none !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}


a:hover {
    text-decoration: none;
}

nav {
    float: right;
    right: 1px;
    position: absolute;
    margin: 10px;
}

nav a {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}

#settings span, #requests .hover, #notif .hover, #inbox .hover, 
#homePage span, #friends span, #myProfile span, #logout span { 
 
    display: none; 
    visibility: hidden;
    height: 30px;
    width: 0px;
    white-space: nowrap;
}


::-webkit-scrollbar {
    z-index: 12;
    width: 0.55rem;
    background-color: #0d0e30;
  }
  
  ::-webkit-scrollbar-thumb {
    z-index: 0;
    background-color: #1ce8ff;
  }

.wrapper {
    margin: 0 auto;
    top: 90px;
    position: relative;
    padding: 0 10px;
    width: 75%;
    min-width: 950px;
}

.column{
    color: #1ce8ff;
    border: 1px solid #1ce8ff;
    border-radius: 7px;
    -webkit-box-shadow: 0 0 2px #1ce8ff, 0 0 4px #1ce8ff, 0 0 30px #1ce8ff, 0 0 10px #1ce8ff;
            box-shadow: 0 0 2px #1ce8ff, 0 0 4px #1ce8ff, 0 0 30px #1ce8ff, 0 0 10px #1ce8ff;
    background-color: rgba(13, 14, 48, 0.95);
    z-index:-1;
}

.user_details {
    width: 250px;
    float: left;
    margin-bottom: 20px;
}

.version_details{
    width:250px;
    float:left;
    margin-bottom:20px;
}

.user_details_left_right {
    width: 125px;
    display: inline-block;
    position: absolute;
}

.user_details img {
    height: 125px;
    border-radius: 50%;
}

#bgImage{
    margin:0;
    width:100vw;
    height:100vh;
    position: fixed;
    z-index:-9999
}

#sharePicButton{
    font-weight: bold;
    border: 1px solid #1ce8ff;
    width: fit-content;
    padding:2px;
    border-radius: 5px;
    transition:200ms;
}

#sharePicButton:hover{
    background-color: #1ce8ff;
    color:#0d0e30;
    
}

.main_column {
    float: right;
    width: 68%;
    z-index: -1;
    min-height: 170px;
}

.post_form {
    width: 100%;
}

.post_form textarea {
    width: 81%;
    height: 50px;
    border-radius: 3px;
    margin-right: 5px;
    border: 5px solid;
    border-image-source: linear-gradient(to right, #662d91, rgba(28, 232, 255, 0.3));
    border-image-slice: 1;
    font-size: 12px;
    padding: 5px;
}

textarea:focus {
    outline: 0;
}

.btn-danger2{
    background:#1485BD;
    color: whitesmoke;
}

.modal{
    height:auto !important;
    padding-top:50px!important;
    background:transparent
}

.form-control{
    padding:0 !important;
}

.btn-danger2:hover{
    background:crimson;
    transition: 300ms;
}

.post_form input[type='submit'] {
    width: 80px;
    height: 60px;
    border: none;
    border-radius: 3px;
    background:#1485BD;
    font-family: 'Neuropol', sans-serif;
    font-size: 22px;
    position: absolute;
    outline: 5px solid transparent;
    margin: 0;
    /* margin-top:5px; */
}

.post_form input[type='submit']:active {
    padding: 5px 4px 4px 5px;
}

.status_post {
    width: 96%;
    font-size: 15px;
    padding: 0px 5px;
    min-height: 75px;
    cursor: pointer;
}

.post_profile_pic {
    float: left;
    margin-right: 7px;
}

.post_profile_pic img {
    border-radius: 5px;
}

#comment_iframe {
    max-height: 250px;
    width: 100%;
    margin-top: 5px;
}

.comment_section {
    padding: 0 5px 5px 5px;
}

.comment_section img {
    margin: 0 3px 3px 3px;
    border-radius: 3px;
}

#comment_form textarea {
    border-color: #D3D3D3;
    width: 85%;
    height: 35px;
    border-radius: 5px;
    color: #616060;
    font-size: 14px;
    margin: 3px 3px 3px 5px;
}

#comment_form input[type="submit"] {
    border: none;
    background-color: rgba(13, 14, 48, 0.95);
    font-family: 'Neuropol', sans-serif;
    color: #1ce8ff;
    text-shadow: #a0ddb9 0.5px 0.5px 0px;
    border-radius: 5px;
    width: 50px;
    height: 40px;
    position: absolute;
    transition: 300ms;
}

#comment_form input[type="submit"]:hover {
    background:#1ce8ff;
    color:rgba(13, 14, 48, 0.95)
}

.newsfeedPostOptions {
    padding: 0px;
    text-decoration: none;
    border: none;
}

.newsfeedPostOptions iframe {
    border: 0px;
    height: 35px;
    width: 200px;
    float:right;
}

.like_value {
    display: inline;
    font-size: 14px;
}

.profile_left {
    width: 17%;
    max-width: 240px;
    min-width: 130px;
    height: 110vh;
    float: left;
    position: fixed;
    padding-top: 50px;
    top:-10px;
    background-color: rgba(13, 14, 48, 0.95);
    border-right: 1px solid #65dbeb;
    color: #CBEAF8;
    margin-right: 20px;
    -webkit-box-shadow: 0 0 10px #1ce8ff, 0 0 40px #1ce8ff, 0 0 10px #1ce8ff, 0 0 10px #1ce8ff;
            box-shadow: 0 0 10px #1ce8ff, 0 0 40px #1ce8ff, 0 0 10px #1ce8ff, 0 0 10px #1ce8ff;

}

.profile_left img {
    min-width: 80px;
    width: 55%;
    margin: 20px;
    margin-left:20%;
    border: 5px solid #65dbeb;
    border-radius: 100px;
}

.profile_info {
    display: list-item;
    width: 100%;
    padding: 10px 0 10px 0;
    text-align: center;
}

.sidebar_scroll {
    width: 3rem;
    height: 25vh;
    position: fixed;
    top: 350px;
    right: 35px;
    line-height: 40px;
  }

  .chat_box {
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 5vw;
    height: 25px;
    width: 15vw;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    min-width: 200px;
    line-height: 17px;
    background: linear-gradient(135deg, rgba(28, 232, 255, 0.3) 0%, rgba(102, 45, 145, 0.404) 100%);
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: center;
    z-index: 2;
    overflow: hidden;
  }
  
  .chat_box:hover {
    background-color: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.1) 100%);
    background-color: rgba(255, 255, 255, 0.5);
    background-color: rgba(13, 14, 48, 0.95);
    -webkit-transition-delay: 0.2;
            transition-delay: 0.2;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    height: 400px;
    width:fit-content;
    overflow-y: auto;
    overflow: overlay;
    z-index: 12;
    width: 15vw;
  }

  h4#messagetitle {
    text-align: center;
    font-family: 'Neuropol';
    font-weight: 600;
    line-height: 10px;
  }

.profile_info p {
    word-wrap: break-word;
}

.danger {
    background-color: #e74c3c;
}

.warning {
    background-color: #f0ad4e;
}

.default {
    background-color: #bdc3c7;
}

.success {
    background-color: #2ecc71;
}

.info {
    background-color: #3498db
}

.deep_blue {
    background-color: #0043f0;
}

.profile_left input[type="submit"] {
    width: 80%;
    margin-left:7%;
    height: 30px;
    border-radius: 5px;
    border: none;
    color: #fff;
    margin-bottom:20px;
}


#accept_button {
    width: 20%;
    height: 28px;
    border-radius: 5px;
    margin: 5px;
    border: none;
    color: #fff;
    background-color: #2ecc71;
}

#ignore_button {
    width: 20%;
    height: 28px;
    border-radius: 5px;
    margin: 5px;
    border: none;
    color: #fff;
    background-color: #e74c3c;
}

.delete_button {
    height: 22px;
    width: 22px;
    padding: 0;
    float: right;
    border-radius: 4px;
    right: -15px;
    position: relative;
}

.profile_main_column {
    min-width: 675px;
    float: left;
    width: 70%;
    z-index: -1;
    margin-left: 35%
}

.profile_info_bottom {
    margin: 10px 0 0 7px;
}

#message_textarea {
    width: 80%;
    margin-right: 8px;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    font-size: 12px;
}

#message_submit {
    height: 50px;
    width: 120px;
    margin: 0;
    position: absolute;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-family: 'Neuropol', sans-serif;
}

.message {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
    color: white;
}

#blue {
    background-color: #175985;
    border-color: transparent;
    float: right;
    margin-bottom: 5px;
    margin-right:2px;
}

#green {
    background-color: #1ce8ff;
    border-color: #0d0e30;
    color:#0d0e30;
    float: left;
    margin-bottom: 5px;
    margin-left:2px;
}

.loaded_messages {
    height: 65%;
    min-height: 300px;
    max-height: 400px;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.loaded_conversations{
    max-height: 220px;
    overflow-y:scroll;
}

.user_found_messages{
    border-bottom: 1px solid #d3d3d3;
    padding: 8px 8px 10px 8px;
}

.user_found_messages:hover{
    background-color: #d3d3d3;
}

.user_found_messages img{
    height: 35px;
    float:left;
}

#grey{
    color: #acacac;
}

.vrCallMessage{
    border:2px solid #65dbeb;
    text-align: center;
    font-weight: 800;
    transition: 200ms;
}

.vrCallMessage a:hover{
    color:rgba(255, 255, 255, 0.7)
}

.vrCallMessage:hover{
    border: 2px solid gold;
    background: #65dbeb;
}

.resultDisplay{
    padding: 5px 5px 0 5px;
    height: 70px;
    border-bottom: 1px solid #d3d3d3;
}

.resultDisplay a{
    float: none;
}

.resultDisplay:hover{
    background-color: #EDEDED;
    text-decoration: none;
}

.liveSearchProfilePic img {
    height:50px;
    border-radius:25px;
    margin: 1px 12px 0 2px;
    float:left;
}

.liveSearchText {
    background-color: transparent;
    color: #65dbeb
}

.liveSearchText p {
    margin-left: 10px;
    font-size: 12px;
}

.tab-content{
    margin-top: 25px;
}

.dropdown_data_window{
    background-color: rgba(13, 14, 48, 0.95);
    border: 1px solid #DADADA;
    border-radius: 0 0 8px 8px;
    border-top: none;
    width: 300px;
    position:absolute;
    right:10px;
    top:44px;
    overflow-y:scroll;
}

.notification_badge{
    padding: 2px 3px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #f00;
    border-radius: 10px;
    position: absolute;
    left: 7px;
    top: 2px;
}

.resultDisplayNotification{
    height:auto;
    color: #1485BD;
    padding-bottom: 5px;
}

.notificationsProfilePic img{
    height:30px;
    border-radius: 7px;
    margin: 1px 12px 0px 2px;
    float:left;
}

.timestamp_smaller{
    font-size: 85%;
    margin: 0;
}

.search{
    margin: 8px 0 0 10px;
}

#search_text_input{
    border: thin solid #E5E5E5;
    float:left;
    outline: 0;
    height:23px;
    width:auto;
}

.button_holder{
    position:relative;
    float:left;
    background-color: #65dbeb;
    cursor: pointer;
    height: 35px;
    text-align: center;
    width:50px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-left: 10px;
    transition: 200ms;
}

.button_holder:hover{
    background:whitesmoke;
}

.button_holder img{
    width: 25px;
    height:25px;
    margin-top:4px;
}

.search_results{
    background-color: rgba(13, 14, 48, 0.95);
    border: 1px solid #DADADA;
    border-bottom: none;
    border-top: none;
    margin-top: 40px;
}

.search_results_footer{
    padding: 5px 4px 0px 4px;
    height: 27px;
    border: 1px solid #DADADA;
    border-top:none;
    background-color: #1ce8ff;
    color:rgba(13, 14, 48, 0.95);
    text-align: center;

}

.search_results_footer a{
    color: #fff;
}

.search_result{
    padding: 10px;
    height:100px;
}

.searchPageFriendButtons{
    float:right;
}

.result_profile_pic{
    float:left;
    margin-right: 10px;
}

.search_hr {
    margin-bottom: 0px;
}

.searchPageFriendButtons input[type="submit"]{
    border:none;
    padding: 7px 12px;
    border-radius: 5px;
    color: #FFF;
}

#small_profile_pics{
    height:55px;
    margin: 1px 12px 0px 2px;
    float:left;
}

.settings_input{
    border: 1px solid #CCC;
    height:20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    border-radius: 4px;
    line-height: 20px;
}

.settings_submit {
    border:none;
    padding: 7px 12px;
    border-radius: 5px;
    color: #FFF;
}


.postedImage img{
    max-height: 300px;
    max-width: 100%;
    display:block;
    margin: 5px auto;
}

.delReq {
    position: relative;
    right: 30%;
}

#post_body iframe{
    margin-left: 20%;
    margin-top: 15px;
}

img.profilePicSmall{
    height: 40px;
    width: 40px;
    border-radius: 25px;
    margin: 5px; 
}

:root {
    margin: 0;
    padding: 0;
  }
  
  html {
    height: 100%;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  
  @font-face {
    font-family: 'Hammerhead';
    src: url("../fonts/HammerheadRegular.ttf");
  }
  
  @font-face {
    font-family: 'Hammerhead_Bold';
    src: url("../fonts/HammerheadBold.ttf");
  }
  
  @font-face {
    font-family: 'Neuropol';
    src: url("../fonts/Neuropol.ttf");
  }
  
  .top_bar {
    width: 100%;
    /* min-width: 1050px; */
    height: 50px;
    background-color: rgba(13, 14, 48, 0.95);
    margin: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: fixed;
    top: 0;
    z-index: 10;
    -webkit-box-shadow: 0 0 0px #1ce8ff, 0 0 0px #1ce8ff, 0 0 20px #1ce8ff, 0 0 0px #1ce8ff;
            box-shadow: 0 0 0px #1ce8ff, 0 0 0px #1ce8ff, 0 0 20px #1ce8ff, 0 0 0px #1ce8ff;
  }
  
  .logo svg {
    margin-left: 10px;
    width: 150px;
    position: fixed;
    top: 5px;
  }
  
  .logo i:hover {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    color: #0d0e30;
    background-color: #1ce8ff;
    -webkit-box-shadow: 0 0 10px #1ce8ff, 0 0 40px #1ce8ff, 0 0 80px #1ce8ff, 0 0 10px #1ce8ff;
            box-shadow: 0 0 10px #1ce8ff, 0 0 40px #1ce8ff, 0 0 80px #1ce8ff, 0 0 10px #1ce8ff;
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
    border-radius: 5px;
  }
  
  .search_box_wrapper {
    position: fixed;
    top: 0;
    left: 40%;
    margin-top: 8px;
  }
  
  #search_box {
    width: 350px;
    padding: 5px;
    background-color: #0d0e30;
  }
  
  #search_box:hover {
    border: 1px solid #1ce8ff;
  }
  
  nav {
    position: relative;
    top: 10px;
    left: 13vw;
  }
  
  nav a {
    font-family: 'Neuropol';
  }
  
  nav a {
    position: relative;
    display: inline-block;
    letter-spacing: 1px;
    color: #1ce8ff;
    font-size: 17px;
    overflow: hidden;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    padding: 5px 10px;
  }
  
  nav a:hover {
    color: #0d0e30;
    background-color: #1ce8ff;
    -webkit-box-shadow: 0 0 10px #1ce8ff, 0 0 40px #1ce8ff, 0 0 80px #1ce8ff, 0 0 10px #1ce8ff;
            box-shadow: 0 0 10px #1ce8ff, 0 0 40px #1ce8ff, 0 0 80px #1ce8ff, 0 0 10px #1ce8ff;
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
    border-radius: 5px;
    color: #0d0e30;
  }
  
  .loggedWrapper {
    margin: 0 auto;
    top: 50px;
    position: relative;
    padding: 0 10px;
    width: 100%;
    min-width: 950px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 240px 15% 5% 3fr 1fr;
        grid-template-columns: 240px 15% 5% 3fr 1fr;
    -ms-grid-rows: 25% 50% auto 5%;
        grid-template-rows: 25% 50% auto 5%;
    line-height: 17px;
    background: linear-gradient(135deg, rgba(28, 232, 255, 0.3) 0%, rgba(102, 45, 145, 0.404) 100%);
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: center;
    padding-top: 20px;
    z-index: -5;
  }

input[type="submit"], input[type="email"], input[type="password"], input[type="text"] {
    background-color: #0d0e30;
    border: 1px solid #1ce8ff;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    color: #1ce8ff;
    font-family: 'Neuropol';
  }

input[type="submit"]:hover {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    color: #0d0e30;
    background-color: #1ce8ff;
    -webkit-box-shadow: 0 0 10px #1ce8ff, 0 0 20px #1ce8ff, 0 0 40px #1ce8ff, 0 0 10px #1ce8ff;
            box-shadow: 0 0 10px #1ce8ff, 0 0 20px #1ce8ff, 0 0 40px #1ce8ff, 0 0 10px #1ce8ff;
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
    border-radius: 5px;
}

  /*# sourceMappingURL=header.css.map */



  /*MEDIA QUERIES!!!!!*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .sm-hidden{
        display:none;
    }
    .top_bar {
        width: 100vw;
        height: 5vh;
    }

    nav {
        margin: 0;
        top:0;
    }

    nav a {
        display: inline-block;
        /* width: 100vw; */
        padding: 5px;
    }
    .user_details {
        display: none;

    }
    .wrapper {
        max-width: 100vw;
        width: 99vw;
        min-width: 0;
        padding: 0;
    }
    .main_column.column {
        display: block;
        width: 99vw !important;
        max-width: 600px;
        box-sizing: border-box;
        padding: 5px;
        margin: 0 auto;
        height: 55vh;
        overflow: scroll;
        overflow-y: overlay;
    }
    .post_form textarea {
    width: 70vw;
    box-sizing: border-box;
    }
    .profile_left {
        height: 100vh;
    }
    .profile_left.deep_blue, .profile_left input[type="submit"], a button#vrRoomButton {
        font-size: 0.6em;
        border:#1ce8ff 1px solid;
    }
    .dropdown_data_window{
        width: 99vw;
        top: 5vh;
        left: 1px;
    }
    .profile_main_column {
        min-width: 0;
        width: 59vw;
        margin-left: 40%;
        
    }
    #scroll_messages {
        height: auto;
    }
    #message_textarea {
        width: 50vw;
        position: relative;
    }
    #message_submit {
        height: 30px;
        position: relative;
        border: 1px solid #1ce8ff;
    }
    .post_form input[type="submit"] {
        width: 16vw;
        height: 5vh;
        text-align: center;
        position: relative;
        top: -5px;
    }
    .footer.main_column{
        display: none;
    }
    .sidebar_scroll {
        display: none;
    }
    .profile_left input[type="submit"]{
        width: 70%;
    }

}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .sm-hidden{
        display:none;
    }
    .md-hidden{
        display:none;
    }
    div.logo.col-md-1.span1 {
        display: none;
    }
    .top_bar {
        width: 100vw;
        height: 9vh;
    }
    #dev_data_ver {
        display: none !important;
    }
    nav {
        margin: 0;
    }

    nav a {
        display: inline-block;
    }
    .user_details {
        display: none;
    }
    .column#dev_data_ver {
    display: none;
    }

    .wrapper {
        max-width: 100vw;
        width: 99vw;
        min-width: 0;
        padding: 0;
    }
    .main_column {
        clear: both;
    }
    .main_column.column {
        display: block;
        width: 99vw !important;
        box-sizing: border-box;
        padding: 5px;
        margin: 0 auto;
        height: 35vh;
        overflow: scroll;
        overflow-y: overlay;
    }
    .post_form textarea {
    width: 70vw;
    box-sizing: border-box;
    }
    .profile_left {
        height: 100vh;
    }
    .profile_left.deep_blue, .profile_left input[type="submit"], a button#vrRoomButton {
        font-size: 0.6em;
        border:#1ce8ff 1px solid;
    }
    .dropdown_data_window{
        width: 100vw;
        top: 9vh;
        left: 13vw;
    }
    .profile_main_column {
        min-width: 0;
        width: 59vw;
        margin-left: 30%;
    }
    #scroll_messages {
        height: auto;
    }
    #message_textarea {
        width: 50vw;
        position: relative;
    }
    #message_submit {
        height: 30px;
        position: relative;
        border: 1px solid #1ce8ff;
    }
    .post_form input[type="submit"] {
        width: 16vw;
        height: 10vh;
        text-align: center;
        position: relative;
        top: -5px;
        right: -3vw;
    }
    .footer.main_column{
        display: none;
    }
    .sidebar_scroll {
        display: none;
    }
    .profile_left input[type="submit"]{
        width: 70%;
    }
    .column#dev_data_ver {
    display: none;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-device-width: 992px){
    .sm-hidden {
        display: block;
    }
    .md-hidden{
        display:block;
    }
    div.logo.col-md-1.span1 {
        display: block;
        padding-right: 5px;
        padding-bottom: 5px;
    }
    .user_details {
        display: flex;
        flex-direction: column;
        width: 20vw;
        height: 20vh;
        overflow-y: scroll;
    }
    .user_details_left_right {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 1vh 1vw;
        padding: 1%;
    }
    .user_details.column {
        height: auto;
        max-height: 21vh;
        padding: 1%;
    }
    .user_details.column img {
        margin: 5px auto;
    }
    .user_details.column a{
        border-radius: 50%;
    }
    .user_details.column h4{
        text-align: center;
    }
    #trends {
        position: absolute;
        left: 1px;
        top:25vh;
        height: 20vh;
        display: none;
    }
    .column#dev_data_ver {
    display: none;
    }

    #conversations{
        position: absolute; 
        left: 0px;
        /* padding: 1%; */
        top: 23vh;
    }
    .top_bar {
        width: 100vw;
        height: 5vh;
        line-height: 10px;
    }

    nav {
        margin: 0;
        left:0;
    }
    .dropdown_data_window {
        top:5vh;
    }

    nav a {
        line-height: 15px;

    }
    .wrapper {
        max-width: 100vw;
        width: 99vw;
        min-width: 0;
        padding: 0;
    }
    .main_column.column {
        float: right;
        max-width: 580px;
        box-sizing: border-box;
        padding: 5px;
        margin: 0 auto;
        height: 60vh;
        overflow: scroll;
        overflow-x: hidden;
        overflow-y: overlay;
        position:absolute;
        top: 0vh;
        left: 23vw;
    }
    .post_form textarea {
    width: 60vw;
    box-sizing: border-box;
    }
    .profile_left {
        height: 100vh;
    }
    .profile_left.deep_blue, .profile_left input[type="submit"], a button#vrRoomButton {
        font-size: 0.6em;
        border:#1ce8ff 1px solid;
    }
    .dropdown_data_window{
        width: 99vw;
        top: 4vh;
        left: 1vw;
        box-shadow: 0 0 0 #1ce8ff, 0 0 20px #1ce8ff, 0 0 10px #1ce8ff, 0 0 10px #1ce8ff;
    }
    .profile_main_column {
        min-width: 0;
        width: 75vw;
        margin-left: 20vw;
    }
    #scroll_messages {
        height: auto;
    }
    #message_textarea {
        width: 52vw;
        position: relative;
        left: 1vw;
    }
    #message_submit {
        height: 3vh;
        position: relative;
        border: 1px solid #1ce8ff;
        width: 85px;
        left:10px;
        top:-6px;
    }
    .post_form input[type="submit"] {
        width: 8vw;
        height: 3vh;
        text-align: center;
        position: relative;
        top: -5px;
        right: -2vw;
    }
    .footer.main_column{
        display: none;
    }
    .sidebar_scroll {
        display: none;
    }
    .profile_left input[type="submit"]{
        width: 70%;
    }
    
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /* .xl-hidden{
        display: none;
    } */
}