@font-face {
    font-family: 'Hammerhead';
    src: url("../fonts/HammerheadRegular.ttf");
}

@font-face {
    font-family: 'Hammerhead_Bold';
    src: url("../fonts/HammerheadBold.ttf");
}

@font-face {
    font-family: 'Neuropol';
    src: url("../fonts/Neuropol.ttf");
}

html{
    height:100%;
}

body {
    height:100%;
    line-height: 17px;
    background-color: #E6EAE8;
}

a {
    color: #2ecc71;
    text-decoration: none;
}

.top_bar {
    width: 100%;
    min-width: 1050px;
    height: 40px;
    background-color: #2ecc71;
    border-bottom: 0.25em solid #27ae60;
    margin: 0 0 10px 0;
    display: inline-flex;
    position: fixed;
    z-index: 10;
}

.logo a {
    font-family: 'Neuropol', sans-serif;
    margin-left: 10px;
    font-size: 30px;
    position: relative;
    top: 15px;
    color: #1a6d3d;
    text-shadow: #a0ddb9 0.5px 0.5px 0px;
}

a:hover {
    text-decoration: none;
}

nav {
    float: right;
    right: 1px;
    position: absolute;
    margin: 10px;
}

nav a {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    border-bottom: 7px solid #e67e22;
    color: #fff
}

.wrapper {
    margin: 0 auto;
    top: 50px;
    position: relative;
    padding: 0 10px;
    width: 75%;
    min-width: 950px;
}

.column {
    background: #fff;
    padding: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #d3d3d3;
    z-index: -1;
    color:#555;
}

.user_details {
    width: 250px;
    float: left;
    margin-bottom: 20px;
}

.user_details_left_right {
    width: 125px;
    display: inline-block;
    position: absolute;
}

.user_details img {
    height: 125px;
    border-radius: 5px;
    margin-right: 5px;
}

.main_column {
    float: right;
    width: 68%;
    z-index: -1;
    min-height: 170px;
}

.post_form {
    width: 100%;
}

.post_form textarea {
    width: 81%;
    height: 50px;
    border-radius: 3px;
    margin-right: 5px;
    border: 1px solid #d3d3d3;
    font-size: 12px;
    padding: 5px;
}

textarea:focus {
    outline: 0;
}

.post_form input[type='submit'] {
    width: 11%;
    height: 60px;
    border: none;
    border-radius: 3px;
    background-color: #2ecc71;
    font-family: 'Neuropol', sans-serif;
    color: #1a6d3d;
    text-shadow: #a0ddb9 0.5px 0.5px 0px;
    font-size: 22px;
    position: absolute;
    outline: 0;
    margin: 0;
}

.post_form input[type='submit']:active {
    padding: 5px 4px 4px 5px;
}

.status_post {
    width: 96%;
    font-size: 15px;
    padding: 0px 5px;
    min-height: 75px;
    cursor: pointer;
}

.post_profile_pic {
    float: left;
    margin-right: 7px;
}

.post_profile_pic img {
    border-radius: 5px;
}

#comment_iframe {
    max-height: 250px;
    width: 100%;
    margin-top: 5px;
}

.comment_section {
    padding: 0 5px 5px 5px;
}

.comment_section img {
    margin: 0 3px 3px 3px;
    border-radius: 3px;
}

#comment_form textarea {
    border-color: #D3D3D3;
    width: 85%;
    height: 35px;
    border-radius: 5px;
    color: #616060;
    font-size: 14px;
    margin: 3px 3px 3px 5px;
}

#comment_form input[type="submit"] {
    border: none;
    background-color: #2ecc71;
    font-family: 'Neuropol', sans-serif;
    color: #1a6d3d;
    text-shadow: #a0ddb9 0.5px 0.5px 0px;
    border-radius: 5px;
    width: 12%;
    height: 40px;
    margin-top: 3px;
    position: absolute;
}

.newsfeedPostOptions {
    padding: 0px;
    text-decoration: none;
    color: #2ecc71;
    border: none;
}

.newsfeedPostOptions iframe {
    border: 0px;
    height: 17px;
    width: 120px;
}

.comment_like {
    background-color: #fff;
    border: none;
    font-size: 14px;
    color: #2ecc71;
    padding: 0px;
    height: auto;
    width: auto;
    margin: 0px;
}

.like_value {
    display: inline;
    font-size: 14px;
}

.profile_left {
    top: -10px;
    width: 17%;
    max-width: 240px;
    min-width: 130px;
    height: 100vh;
    float: left;
    position: relative;
    background-color: #2ecc71;
    border-right: 10px solid #56eb94;
    color: #CBEAF8;
    margin-right: 20px;
}

.profile_left img {
    min-width: 80px;
    width: 55%;
    margin: 20px;
    border: 5px solid #56eb94;
    border-radius: 100px;
}

.profile_info {
    display: list-item;
    background: #1a6d3d;
    width: 100%;
    padding: 10px 0 10px 0;
}

.profile_info p {
    margin: 0 0 0 20px;
    word-wrap: break-word;
}

.danger {
    background-color: #e74c3c;
}

.warning {
    background-color: #f0ad4e;
}

.default {
    background-color: #bdc3c7;
}

.success {
    background-color: #2ecc71;
}

.info {
    background-color: #3498db
}

.deep_blue {
    background-color: #0043f0;
}

.profile_left input[type="submit"] {
    width: 92%;
    height: 30px;
    border-radius: 5px;
    margin: 7px 0 0 7px;
    border: none;
    color: #fff;
}

#accept_button {
    width: 20%;
    height: 28px;
    border-radius: 5px;
    margin: 5px;
    border: none;
    color: #fff;
    background-color: #2ecc71;
}

#ignore_button {
    width: 20%;
    height: 28px;
    border-radius: 5px;
    margin: 5px;
    border: none;
    color: #fff;
    background-color: #e74c3c;
}

.delete_button {
    height: 22px;
    width: 22px;
    padding: 0;
    float: right;
    border-radius: 4px;
    right: -15px;
    position: relative;
}

.profile_main_column {
    min-width: 675px;
    float: left;
    width: 70%;
    z-index: -1;
}

.profile_info_bottom {
    margin: 10px 0 0 7px;
}

#message_textarea {
    width: 80%;
    margin-right: 8px;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    font-size: 12px;
}

#message_submit {
    height: 50px;
    width: 120px;
    margin: 0;
    position: absolute;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-family: 'Neuropol', sans-serif;
}

.message {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
    color: white;
}

#blue {
    background-color: #3498db;
    border-color: #4fb3f5;
    float: right;
    margin-bottom: 5px;
    margin-right:2px;
}

#green {
    background-color: #2ecc71;
    border-color: #39df7e;
    float: left;
    margin-bottom: 5px;
    margin-left:2px;
}

.loaded_messages {
    height: 65%;
    min-height: 300px;
    max-height: 400px;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.loaded_conversations{
    max-height: 220px;
    overflow-y:scroll;
}

.user_found_messages{
    border-bottom: 1px solid #d3d3d3;
    padding: 8px 8px 10px 8px;
}

.user_found_messages:hover{
    background-color: #d3d3d3;
}

.user_found_messages img{
    height: 35px;
    float:left;
}

#grey{
    color: #acacac;
}

.resultDisplay{
    padding: 5px 5px 0 5px;
    height: 70px;
    border-bottom: 1px solid #d3d3d3;
}

.resultDisplay a{
    float: none;
}

.resultDisplay:hover{
    background-color: #EDEDED;
    text-decoration: none;
}

.liveSearchProfilePic img {
    height:50px;
    border-radius:25px;
    margin: 1px 12px 0 2px;
    float:left;
}

.liveSearchText {
    background-color: transparent;
    color: #1a6d3d;
}

.liveSearchText p {
    margin-lefT: 10px;
    font-size: 12px;
}

.tab-content{
    margin-top: 25px;
}

.dropdown_data_window{
    background-color: #FFF;
    border: 1px solid #DADADA;
    border-radius: 0 0 8px 8px;
    border-top: none;
    width: 300px;
    position:absolute;
    right:10px;
    top:44px;
    overflow-y:scroll;
}

.notification_badge{
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #f00;
    border-radius: 10px;
    position: absolute;
    left: 7px;
    top: -5px;
}

.resultDisplayNotification{
    height:auto;
    color: #1485BD;
    padding-bottom: 5px;
}

.notificationsProfilePic img{
    height:40px;
    border-radius: 7px;
    margin: 1px 12px 0px 2px;
    float:left;
}

.timestamp_smaller{
    font-size: 85%;
    margin: 0;
}

.search{
    margin: 6px 0 0 15%;
}

#search_text_input{
    border: thin solid #E5E5E5;
    float:left;
    outline: 0;
    height:23px;
    width:100px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.button_holder{
    position:relative;
    float:left;
    background-color: #F1F1F1;
    border: thin solid #E5E5E5;
    cursor: pointer;
    height: 31px;
    text-align: center;
    width:50px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.button_holder img{
    width: 40px;
    height:25px;
    margin-top:1px;
}

.search_results{
    background-color: #fff;
    border: 1px solid #DADADA;
    border-bottom: none;
    border-top: none;
    margin-top: 40px;
}

.search_results_footer{
    padding: 5px 4px 0px 4px;
    height: 27px;
    border: 1px solid #DADADA;
    border-top:none;
    background-color: #2ecc71;
    text-align: center;

}

.search_results_footer a{
    color: #fff;
}

.search_result{
    padding: 10px;
    height:100px;
}

.searchPageFriendButtons{
    float:right;
}

.result_profile_pic{
    float:left;
    margin-right: 10px;
}

.search_hr {
    margin-bottom: 0px;
}

.searchPageFriendButtons input[type="submit"]{
    border:none;
    padding: 7px 12px;
    border-radius: 5px;
    color: #FFF;
}

#small_profile_pics{
    height:55px;
    margin: 1px 12px 0px 2px;
    float:left;
}

.settings_input{
    border: 1px solid #CCC;
    height:20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    border-radius: 4px;
    line-height: 20px;
}

.settings_submit {
    border:none;
    padding: 7px 12px;
    border-radius: 5px;
    color: #FFF;
}


.postedImage img{
    max-height: 300px;
    max-width: 100%;
    display:block;
    margin: 5px auto;
}